<%= form_with(model: @product_registration_form, url: products_path, local: true) do |f| %>
  <table class="table">
    <thead>
    <tr>
      <th width="60px">登録</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>販売価格</th>
    </tr>
    </thead>
    <tbody class="bulk-registration-form">
    <%= f.fields_for :products do |ff| %>
      <tr class="item">
        <td class="text-center">
          <%= ff.check_box :register %>
        </td>
        <td>
          <%= ff.text_field :code, class: 'form-control' %>
        </td>
        <td>
          <%= ff.text_field :name, class: 'form-control' %>
        </td>
        <td>
          <%= ff.text_field :price, class: 'form-control' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= f.submit '一括登録', class: 'btn btn-primary' %>
  </div>
<% end %>
